/*body {
  background-color: #cfd9e2
  background-color: #394962;
}*/

#container {
  width: 560px;
  height: 200px;
  position: absolute;
  top: 150px ;
  left: 710px;
  cursor: pointer;

}

.gameBoard {
  width: 150px; 
  height: 150px; 
  margin: 5px;
  padding-right: 2px; 
  vertical-align: middle;
  border: 3px solid #394962;
  display: inline-block;
  font-size: 30px;
  font-family: Montserrat; 
  text-align: center;
  line-height: 150px; 
}

h1 {
font-family: Montserrat; 
font-size: 50px; 
text-align: center;
text-transform: uppercase;

}

#reset {
  border: 2px solid black;
  position: absolute;
  font-family: Montserrat;
  font-size: 16px;
  background-color: salmon;
  padding-bottom: 10px; 
  padding-top: 10px; 
  padding-left: 10px;
  padding-right: 10px; 
  text-transform: uppercase;
  top: 700px; 
  left: 300px; 
  cursor: pointer;
}
